<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/ejercicio1.css">
    <title>Taller 1 - Front end</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navv">
        <div class="container-fluid">
          <h1 class="title">Taller DOM</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item color">
                <a class="nav-link " aria-current="page" href="../index.html">Index</a>
              </li>
              <li class="nav-item color activo">
                <a class="nav-link" href="ejercicio1.html">ejercicio 1</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="ejercicio_temp.html">ejercicio 2</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="ejercicio3.html">ejercicio 3</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="ejercicio4.html">ejercicio 4</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="ejercicio5.html">ejercicio 5</a>
              </li>
              <li class="nav-item color">
                <a class="nav-link" href="#">ejercicio 6</a>
              </li>
            </ul>
            <span class="navbar-text">
              Ejercicios utilizando javascript :)
            </span>
          </div>
        </div>
    </nav>

    <div class="selector">
        <form action="", class="formulario", id="formulario">
            <label for="palabra" class="formulario_input">Ingresa la palabra</label>

            <input type="text" class="formulario_input" id="palabra"></input>
        </form>

        <div class="botonesSelector">
            <button type="button" class="btn btn-primary" onclick="mayusculas()">Mayúsculas</button>
            <button type="submit" class="btn btn-primary" onclick="primeraLetra()">Primera Letra</button>
            <button class="btn btn-primary" onclick="minuscula()">Minúsculas</button>
            <button class="btn btn-primary" onclick="longitud()">Longitud</button>
        </div>
    </div>

    <script src="../assets/js/ejercicio1.js"></script>
</body>

</html>