<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/formRegistrar.css">
    <title>Registrar</title>
</head>
<body>
    <div class="encabezado">
        <img src="../assets/img/Hotelia horizontal blanco.svg" alt="">
        <h2>Un lugar en tu corazón</h2>
        <h1>Eres más que bienvenido</h1>
    </div>
    <div class="formulario">
        <form action="">
            <h1>
                Regístrate
            </h1>
            <div class="campo">
                <label for="tipDoc">Tipo de documento</label><br>
                <select name="tipDoc" id="tipDoc" placeholder="Elija una opción">
                    <option value="1">Elija una opción</option>
                    <option value="2">Tarjeta de identidad</option>
                    <option value="3">Cédula de ciudadania</option>
                    <option value="4">Pasaporte</option>
                    <option value="5">Registro civil</option>
                </select>
            </div>

            <div class="campo">
                <label for="numDoc">Número de documento</label>
                <br>
                <input type="text" name="numDoc">
            </div>

            <div class="campo">
                <label for="nombre">Nombres</label>
                <br>
                <input type="text" name="nombre">
            </div>

            <div class="campo">
                <label for="Apellidos">Apellidos</label><br>
                <input type="text" name="Apellidos">
            </div>

            <div class="campo">
                <label for="fechaNa">Fecha de Nacimiento</label>
                <br>
                <input type="date" name="fechaNa">
            </div>

            <div class="campo">
                <label for="genero">Género</label>
                <br>
                <div class="generos">
                    <input type="radio" name="genero">
                    <label for="">Mujer</label><br>
                    <input type="radio" name="genero">
                    <label for="">Hombre</label><br>
                    <input type="radio" name="genero">
                    <label for="">Otro</label><br>
                </div>
            </div>

            <div class="campo">
                <label for="email">Email</label>
                <br>
                <input type="email" name="email">
            </div>

            <div class="campo">
                <label for="telefono">Teléfono</label>
                <br>
                <input type="number" name="telefono">
            </div>

            <div class="campo">
                <label for="paisNa">País de nacimiento</label>
                <br>
                <select name="paisNa" id="paisNa">
                    <option value="1">Colombia</option>
                    <option value="2">Canada</option>
                    <option value="3">EEUU</option>
                    <option value="4">Otro</option>
                </select>
            </div>

            <div class="campo">
                <label for="foto">Foto</label>
                <br>
                <input type="file" name="foto" id="foto" placeholder="Selecciona archivo">
            </div>

            <div class="campo">
                <label for="password">Contraseña</label>
                <br>
                <input type="password" name="password">
            </div>

            <div class="campo">
                <label for="confirmarCon">Confirmar contraseña</label>
                <br>
                <input type="password" name="confirmarCon">
            </div>

            <div class="terminos">
                <input type="checkbox" name="terminos">
                <label for="terminos" id="abrirNodal">Acepto Términos y condiciones</label>
                <button>Ingresar</button>
            </div>

            

        </form>
    </div>

    <div class="nodal2">
        <div class="terminosCondiciones">
            <h1>Términos y condiciones</h1>
            <p>Estos son los terminos del servicio 
                que reflejan la forma de trabjar de Google
                como empresa, las leyes por las que nos regismos
                y determinados aspectos que siempre hemos creido 
                que son ciertos. Por ellos, estos terminos del servicio
                ayudan a definir la relación que tiene Google 
                contigo cuando interactuas con nuestros servicios. Por 
                ejemplo, estos terminos incluyen las siguientes secciones:
                <br><br>
                Que puedes esperar de nosotros, donde se describe 
                como proporcionamos y desarrollamos nuestros servicios.
                Lo que esperamos de ti, donde se establecen ciertas
                reglas para utilizar nuestros servicios.    
            </p>
            <button id="cerrarNodal">Aceptar</button>
        </div>
    </div>
    
</body>

<script>
    const abrir=document.getElementById("abrirNodal")
    const cerrar=document.getElementById("cerrarNodal")
    const nodal=document.querySelector(".nodal2")


    abrir.addEventListener('click',() =>{
        //console.log("entro");
        nodal.classList.remove('nodal2');
        nodal.classList.add('nodal'); 
    })

    cerrar.addEventListener('click',() =>{
        nodal.classList.remove('nodal');
        nodal.classList.add('nodal2'); 
    })
</script>
</html>