<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/1067cb33f8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/index.css">
    <script defer  src="../assets/js/carrusel.js"></script>
    <title>Document</title>
</head>
<body>
    
    <header>
        <nav>
            <div class="logo">
                <img src="../assets/img/Hotelia horizontal blanco.svg">
                <i class="fa-solid fa-bars" id="ham"></i>
            </div>
            
            <div class="menu">
                <a href="index.html" class="item">Inicio</a>
                <a href="#contenedor3" class="item">Ubícanos</a>
                <a href="#contenedor4" class="item">Opiniones</a>
                <hr class="menu-hr" noshade="">
                <a href="login.html" class="Iniciar"><i class="fa-solid fa-user"></i> Iniciar Sesión</a>
            </div>
        </nav>
    </header>

    <main class="main">

        <div class="reserva">
            <p>R</p>
            <p>e</p>
            <p>s</p>
            <p>e</p>
            <p>r</p>
            <p>v</p>
            <p>a</p>
            <p>r</p>
        </div>

        <div class="contenedor1">
            <img src="../assets/img/index/slide1.jpg" alt="">
            <div class="text">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        
        <div class="contenedor2">
            <div class="texto2">
                <p>Estamos ubicados en el barrio La Cabrera al norte de Bogota,
                    en un contexto de lujo donde iteractuan los negocios, el ocio y el 
                    descanso, gracias a su estrategiam ubicacion de bancos, restaurantes
                    de alta cocina, centros comerciales, almacenes de lujo y emblematicos parques para aprovechar la 
                    naturaleza entre la ciudad caminar y hacer un poco
                    de deporte al aire libre estan en el parque del Virrey
                    y El parque de la 93. Ademas de nuestro exclusivo diseño,
                    ponemos a tu disposicion una oferta gastronomica tan sofisticada como saludable
                    a base de productos locales, cargados de lo mejor de la tradicion colombiana.
                </p>
                <img src="../assets/img/Hotelia negro vertical.svg" alt="">
            </div>
        </div>
        
        
        
        <section id="features">
            <h2 class="features-title">Razones por las que disfrutarás quedarte con nosotros</h2>
            <div class="features-description">
                <div class="feature feature-blue">
                    <i class="fa-solid fa-bell-concierge"></i>
                    <p>Lorem ipsum dolor</p>
                </div>
                <div class="feature feature-black">
                    <i class="fa-solid fa-bed"></i>
                    <p>Lorem ipsum</p>
                </div>
                <div class="feature feature-blue">
                    <i class="fa-solid fa-wifi"></i>
                    <p>Lorem ipsum</p>
                </div>
                <div class="feature feature-black">
                    <i class="fa-solid fa-dumbbell"></i>
                    <p>Lorem ipsum</p>
                </div>
            </div>
        </section>


        <div id="contenedor3">
                <h1>Ubícanos</h1>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.964412024213!2d-74.07785899061672!3d4.600397242502039!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7147877c9%3A0x378b95e9cbda0740!2sCra.%208%20%2312a-42%2C%20Bogot%C3%A1!5e0!3m2!1ses!2sco!4v1689525193385!5m2!1ses!2sco" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <h2>AVENIDA CARRERA 8, #12A-42, BOGOTA DC, COLOMBIA</h2>
                <div class="linea"></div>
                <h2 class="numero">+57 601 4567899</h2>
        </div>


        <div id="contenedor4">
            <div class="encabezado">
                <img src="../assets/img/opinion/vector-comentarios.svg" alt="">
                <h1>Nuestros usuarios dicen...</h1>
            </div>
            <div class="Comentarioss">
                <div class="comentarios">   

                    <div class="comentario">
                        <div class="cosas">
                                <img src="../assets/img/opinion/Vector-opinion.png" alt="">
                                <img class="foto" src="../assets/img/opinion/user1.png" alt="">
                                <h2>Diego Rodriguez</h2>
                                <img class="estrellas" src="../assets/img/opinion/estrellas.png" alt="">
                            </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, temporibus nobis quas dolor repellendus a voluptate enim explicabo facere neque voluptatum repudiandae</p>
                    </div>

                    <div class="comentario">
                        <div class="cosas">
                            <img src="../assets/img/opinion/Vector-opinion.png" alt="">
                            <img class="foto" src="../assets/img/opinion/user2.png" alt="">
                            <h2>Diana Garcia</h2>
                            <img class="estrellas2" src="../assets/img/opinion/estrellas.png" alt="">
                        </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, temporibus nobis quas dolor repellendus a voluptate enim explicabo facere neque voluptatum repudiandae</p>
                    </div>

                    <div class="comentario">
                        <div class="cosas">
                            <img src="../assets/img/opinion/Vector-opinion.png" alt="">
                            <img class="foto" src="../assets/img/opinion/user3.png" alt="">
                            <h2>Diego Rodriguez</h2>
                            <img class="estrellas" src="../assets/img/opinion/estrellas.png" alt="">
                        </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, temporibus nobis quas dolor repellendus a voluptate enim explicabo facere neque voluptatum repudiandae</p>
                    </div>
                </div>
            </div>
            <ul class="puntos">
                <div class="punto"></div>
                <div class="punto activo"></div>
                <div class="punto"></div>
            </ul>
        </div>

    </main>
    
    <footer>
        <div class="texto">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium est sit nostrum porro animi doloremque sequi sed cumque itaque ab impedit sunt ducimus.</p>
            
        </div>
        <hr>
        <div class="ubi">
            <div class="ubi2">
                <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                <p>Avenida carrera 8, #12A-42, Bogota DC, colombia</p>
            </div>
            <div class="ubi2">
                <i class="fa-solid fa-phone" style="color: #ffffff;"></i>
                <p>+57 601 4567899</p>
            </div>
        </div>
        <hr>
        <div class="politicas">
            <p>Politicas de privacidad</p>
            <p>Politicas de privacidad</p>
        </div>
        <hr>
        <div class="redes">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-twitter"></i>
        </div>
    </footer>

</body>
</html>