<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lista_habitaciones.css">
    <title>Lista De Habitaciones</title>
</head>
<body>
    <main>
        <div class="contenido">
            <h1 class="titulo">Habitaciones</h1>
            <div class="busqueda">
                <div id="casilla">
                    <label for="categoria">Categoria</label>
                    <select name="categoria" id="categoria" placeholder="Elija una opción">
                        <option value="1">Todas</option>
                    </select>
                </div>
            <div id="casilla">
                <label for="estado" class="estado">Estado</label>
                <select name="estado" id="estado" placeholder="Elija una opción">
                    <option value="1">Todas</option>
                </select>
            </div>
        </div>
         
    </main>
</body>
</html>