<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>Login Form </title>
</head>
<body>

<div class="container">

    <div class="form-container log-in-container">



        <form action="#">
            <img src="../assets/img/Hotelia%20horizontal%20negro.svg" alt="" class="logo">
            <h1>Iniciar sesión</h1>
            <input type="email" placeholder="Usuario" />
            <input type="password" placeholder="Contraseña" />
            <a href="#" class="login__pw">¿Olvidaste tu contraseña?</a>
            <button >Ingresar</button>
            <div class="login__register">
                ¿No tienes cuenta? <a href="formRegistrar.html">Regístrate aquí</a>
            </div>
        </form>



    </div>
    <div class="overlay-container">
        <img src="../assets/img/login/bg-login.png" alt="">
    </div>
</div>
</body>
</html>