@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azulnegro: #303342;
  --negro: #1f1e1e;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}


*{
    margin:0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-image: url(../img/la-ciudad-de-20-minutos-o-el-plan-de-melbourne-para-crear-la-urbe-perfecta.jpg);
    background-repeat: no-repeat;
    background-position: 50% 10%;
}
h1,h2,h3,h4,h5{
    font-family: 'Marcellus', serif;
}

html{
    scroll-behavior: smooth;
}


@media screen and (max-width: 768px){
    
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .encabezado{
        width: 100%;
        height: 80px;
        margin-top: 6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        color: var(--blanco);
        background: linear-gradient(to right, #357baa, #0C3C59);

    }

    .encabezado img{
        width: 40%;
    }
    .encabezado h1{
        display: none;
    }

    .formulario{
        margin-top: 5%;
        width: 90%;
        background-color: rgb(255, 255, 255, 0.8);
    }

    .formulario form{
        display: flex;
        flex-direction: column;
        padding: 5%;
    }
    .campo{
        width: 100%;
        margin-top: 3%;
    }

    form h1{
        text-align: center;
    }

    form label{
        margin-top: 10px;
        margin-bottom: .5%;
        font-size: 15px;
    }

    .campo input{
        height: 6%;
        width: 97%;
    }

    .generos input{
        width: 30px;
    }

    #tipDoc{
        height: 6%;
        width: 100%;
    }
    #paisNa{
        height: 6%;
        width: 100%;
    }

    .terminos{
        text-align: center;
        padding: 4%;
    }
    button{
        margin-top: 5%;
        width: 40%;
        background-color: #000;
        text-align: center;
        color: var(--blanco);
    }

    .terminos{
        text-align: center;
        padding-top: 4%;
        margin-left: 20%;
        width: 50%;
        }
    button{
        margin-top: 5%;
        width: 50%;
        height: 40px;
        background-color: #000;
        text-align: center;
        color: var(--blanco);
    }

    .nodal{
        position: fixed;
        background-color: rgb(0,0,0,0.7);
        width: 100%;
        height: 1000px;
        margin-top: -124%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: animarNodal;
        animation-duration: .5s;
    }

    .nodal2{
        position: fixed;
        background-color: rgb(0,0,0,0.7);
        width: 100%;
        height: 100%;
        display: none;
    }

    
    @keyframes animarNodal{
        from {top: -100px; opacity: 0;}
        to{top: 0; opacity: 1;}
    }


    .terminosCondiciones{
        width: 80%;
        margin-top: 10%;
        background-color: var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .terminosCondiciones h1{
        width: 90%;
        font-size: 20px;
        background: linear-gradient(to right, #357baa, #0C3C59);
        text-align: center;
        padding: 5%;
        color: var(--blanco);
    }

    .terminosCondiciones p{
        padding: 6%;
        font-size: 15px;
    }

    .terminosCondiciones button{
        text-align: center;
        background-color: var(--negro);
        font-size: 12px;
        width: 20%;
        height: 30px;
        margin-top: -2%;
        margin-bottom: 5%;
    }


}

@media screen and (min-width: 769px){

    body{
        display: flex;
    }

    .encabezado{
        height: 665px;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        color: var(--blanco);
        background: linear-gradient(to right, #357baa, #0C3C59);
        opacity: 0.9;
    }

    .encabezado h1{
        text-align: center;
        margin-top: 3%  ;
    }

    .encabezado h2{
        display: none;
    }

    .formulario form{
        width: 78%;
        padding: 3%;
        margin: 3%  8% 0% 8%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: rgb(255, 255, 255, 0.8);
    }

    .formulario h1{
        width: 100%;
        text-align: center;
        font-size: 50px;
        margin-bottom: 2%;
    }

    .campo{
        width: 45%;
        height: 60px;
        margin: .5% 2%;
    }
    
    form label{
        font-size: 22px;
        font-weight: bold;
    }

    .campo input{
        margin-top: 1%;
        height: 40%;
        width: 90%;
    }
    #tipDoc{
        margin-top: 1%;
        height: 45%;
        width: 91%;
    }
    #paisNa{
        margin-top: 1%;
        height: 45%;
        width: 91%;
    }
    .generos{
        width: 100%;
        display: flex;
    }
    .generos input{
        width: 40px;
    }


    .terminos{
        text-align: center;
        padding-top: 4%;
        width: 50%;
        }
    button{
        margin-top: 5%;
        width: 50%;
        height: 40px;
        background-color: #000;
        text-align: center;
        color: var(--blanco);
    }

    .nodal{
        position: fixed;
        background-color: rgb(0,0,0,0.7);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: animarNodal;
        animation-duration: .5s;
    }

    .nodal2{
        position: fixed;
        background-color: rgb(0,0,0,0.7);
        height: 100%;
        display: none;
    }

    
    @keyframes animarNodal{
        from {top: -300px; opacity: 0;}
        to{top: 0; opacity: 1;}
    }


    .terminosCondiciones{
        width: 30%;
        background-color: var(--blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .terminosCondiciones h1{
        width: 90%;
        background: linear-gradient(to right, #357baa, #0C3C59);
        text-align: center;
        padding: 5%;
        color: var(--blanco);
    }

    .terminosCondiciones p{
        padding: 6%;
    }

    .terminosCondiciones button{
        text-align: center;
        background-color: var(--negro);
        font-size: 17px;
        width: 20%;
        height: 30px;
        margin-top: -2%;
        margin-bottom: 5%;
    }







}