@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Englebert&display=swap');

:root{
    --verdeAzulado: #016A70;
    --cremita: #FFFFDD;
    --verdeLimon: #D2DE32;
    --verdePastel: #A2C579;
}

* {
    margin: 0;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--cremita);
    font-family: 'Englebert', sans-serif !important;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    margin: 10px;
    transition: 0.5s ease-out;
    background-color: white;
}


h2 {
    margin-top: 40px;
    color:  var(--verdeAzulado);
}

#card{
    margin-top: 40px;
}


.navv {
    background-color: var(--verdePastel);
}

.activo a {
    color: var(--cremita) !important;
}

.color a {
    color: black;
}

.color a:hover {
    color: var(--cremita);
}

.title {
    padding-right: 20px;
    color: black;
}

a {
    text-decoration: none;
}

form {
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--cremita);
    font-family: 'Englebert', sans-serif !important;
}

h1 {
    color: var(--verdeAzulado);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 6px;
    font-size: 12px;
}

label {
    margin-bottom: 8px;
    margin-top: 15px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: var(--verdePastel);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#mensajeRespuesta {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--verdeAzulado);
text-align: center;
}
