<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/BusquedaHabitaciones.css">
    <script src="https://kit.fontawesome.com/1067cb33f8.js" crossorigin="anonymous"></script>
    <title>Buscar habitaciones</title>
</head>
<body>
    <main>
        <div class="encabezado">
            <div class="imagen">
                <img src="../assets/img/hotelia campana.svg" class="uno" alt="">
                <img src="../assets/img/Hotelia horizontal blanco.svg" class="dos" alt="">
                <img src="../assets/img/opinion/user2.png" class="foto" alt="">
                <p class="nombre">Angie Vargas</p>
                <p class="correo">angievargas2@gmail.com</p>
            </div>
            <div class="icono" id="color2"><i class="fa-solid fa-bed"></i><p>Habitaciones</p></div>
            <div class="icono"><i class="fa-solid fa-bed" id="color"></i><p>Mis reservas</p></div>
            <div class="icono"><i class="fa-solid fa-pencil"></i><p>editar perfil</p></div>
            <div class="icono" id="cerrar"><i class="fa-solid fa-right-from-bracket"></i><p>Cerrar sesión</p></div>
        </div>
        <div class="contenido">
            <div class="formulario">
                <form action="">
                    <h1>Busqueda de habitaciones</h1>
                    <label for="entrada">Entrada:</label>
                    <input type="date" name="entrada">
                    <label for="salida">Salida:</label>
                    <input type="date" name="salida">
                    <label for="adul">Adultos:</label>
                    <input type="number" name="adul">
                    <label for="ni">Niños:</label>
                    <input type="number" name="ni">
                    <button>Ver habitaciones disponibles</button>
                </form>
            </div>
            <div class="habitaciones">
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-2.png" alt="">
                    <h1>Habitacion doble</h1>
                    <h2>128.000</h2>
                    <button type="reset" class="negro">Reservar</button>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-2.png" alt="">
                    <h1>Habitacion doble</h1>
                    <div class="vermas">
                        <i class="fa-solid fa-plus"></i>
                        <p>Ver mas</p>
                    </div>
                    <h2>128.000</h2>
                    <button type="reset" class="azul">Reservar</button>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-2.png" alt="">
                    <h1>Habitacion doble</h1>
                    <h2>128.000</h2>
                    <button type="reset" class="negro">Reservar</button>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-2.png" alt="">
                    <h1>Habitacion doble</h1>
                    <div class="vermas">
                        <i class="fa-solid fa-plus"></i>
                        <p>Ver mas</p>
                    </div>
                    <h2>128.000</h2>
                    <button type="reset" class="azul">Reservar</button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>