<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/lista_habitaciones.css">
    <script src="https://kit.fontawesome.com/1067cb33f8.js" crossorigin="anonymous"></script>
    <title>Lista De Habitaciones</title>
</head>
<body>
    <main>
        <div class="encabezado">
            <div class="imagen">
                <img src="../assets/img/hotelia campana.svg" class="uno">
                <img src="../assets/img/Hotelia horizontal blanco.svg" class="dos">
                <img src="../assets/img/opinion/user2.png" class="foto">
                <p class="nombre">Angie Vargas</p>
                <p class="correo">angievargas2@gmail.com</p>
            </div>
            <div class="icono" id="color2"><i class="fa-solid fa-bed"></i><p>Habitaciones</p></div>
            <div class="icono"><i class="fa-solid fa-bed" id="color"></i><p>Mis reservas</p></div>
            <div class="icono"><i class="fa-solid fa-pencil"></i><p>editar perfil</p></div>
            <div class="icono" id="cerrar"><i class="fa-solid fa-right-from-bracket"></i><a href="index.html"><p>Cerrar sesión</p></a></div>
        </div>
            <div class="contenido">
            <h1 class="titulo">Habitaciones</h1>
            <div class="busqueda">
                <div id="casilla">
                    <label for="categoria">Categoria</label>
                    <select name="categoria" id="categoria" placeholder="Elija una opción">
                        <option value="1">Todas</option>
                    </select>
                </div>
                <div id="casilla">
                    <label for="estado" class="estado">Estado</label>
                    <select name="estado" id="estado" placeholder="Elija una opción">
                        <option value="1">Todas</option>
                    </select>
                </div>
            </div>
            <div class="habitaciones">
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-2.png">
                    <h2>habitacion Doble</h2>
                    <h1>128.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-3.png">
                    <h2>habitacion Doble</h2>
                    <h1>250.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-4.png">
                    <h2>habitacion Doble</h2>
                    <h1>220.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1-5.png">
                    <h2>habitacion Doble</h2>
                    <h1>166.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion1.png">
                    <h2>habitacion Doble</h2>
                    <h1>180.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
                <div class="habitacion">
                    <img src="../assets/img/habitaciones/habitacion2.png">
                    <h2>habitacion Doble</h2>
                    <h1>195.000</h1>
                    <p>Lorem ipsum dolor, sit amet consectetur 
                        adipisicing elit. Quae veritatis ratione, 
                        obcaecati ullam voluptates et iusto est 
                        ipsum tempore pariatur quis numq</p>
                        <div class="botones">
                            <button class="modi">Modificar</button>
                            <button class="inac">Inactivar</button>
                        </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>